<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <% if admin_signed_in? %>
        <%= link_to 'ながのケーキ', root_path, class: "navbar-brand" %>
      <% else %>
        <%= link_to 'ながのケーキ', root_path, class: "navbar-brand" %>
      <% end %>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Taggle navigaion">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" style>
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to current_customer, class: 'nav-link' do %>
                マイページ
              <% end %>
            <li class="nav-item">
              <%= link_to items_path do %>
                商品一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to cart_items_path do %>
                カート
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_customer_session_path, method: :delete do %>
                ログアウト
              <% end %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to admin_items_path do %>
                商品一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_customers_path do %>
                会員一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_customers_path do %>
                注文履歴一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete do %>
                ログアウト
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to about_path do %>
                About
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to items_path do %>
                商品一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_registration_path do %>
                新規登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_session_path do %>
                ログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>